<mat-toolbar color="primary" style="" >
    <mat-toolbar-row></mat-toolbar-row>
   <div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="row" style="width: 100%; display: flex; justify-content: space-evenly; align-items: center;">
        <div class="col-12" style="text-align: center; width: 100%; display: flex; justify-content: center;"> 
           <p style="font-size: 10px;"> ©Mathessprod 2021</p>           
        </div>
        
    </div>
    <div class="row" style="display: flex; justify-content: center; align-items: center;
                            width: 100%; margin-top: 25px; ">
        <div class="col-4" style="display: flex; justify-content: center;">
            <a href=""> Blender 3d</a>
         </div>
         <div class="col-4" style="display: flex; justify-content: center;">
            <a href=""> Unity 3d</a>
         </div>
         <div class="col-4" style="display: flex; justify-content: center;">
            <a href=""> Youtube</a>
         </div>
         
    </div>
    <div class="row" style="font-size: 12px; width: 100%;">
        
        <div class="col-12" style="display: flex; justify-content: flex-end; margin-top: 35px;">
            <p>Siret: 52937185800026</p>
        </div>
    </div>
   </div>
</mat-toolbar>

<!-- 
    <div >
        <div  style="display: flex;
    padding-top: 40px; justify-content: space-around; 
    align-items:flex-start; font-size: 12px; ">
<div class="row" >
    <div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://www.angular.io">
        Angular                
    </a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://fr.reactjs.org/">
        React                
    </a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://reactnative.dev/">
        React native                
    </a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://expo.io/">
    Expo                
</a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://nodejs.org/en/">
        Node js                
    </a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://developer.mozilla.org/fr/docs/Web/JavaScript">
        Javascript                
    </a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://getbootstrap.com/">
    Bootstrap                
</a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://www.w3.org/">
    HTML 5                
</a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://www.w3.org/">
    CSS 3                
</a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://firebase.google.com/">
    Firebase                
</a>
</div>
<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank" 
    href="https://www.php.net/">
    PHP                
</a>
</div>


<div class="col-4">
    <a style="text-decoration: none; color: black;"  target="_blank"
    href="https://www.mysql.com/">
    My Sql
</a>
</div>
<div class="col-8" style="margin-top: 20px;">
    <p>Siret: 52937185800026</p>
</div>

</div>
</div>

</div>
 -->


