
<mat-toolbar color="primary"> 
    <mat-toolbar-row color="primary">
        <div class="container-fluid footerContainer" style="display: flex;
                    padding-top: 40px; justify-content: space-around; 
                    align-items:flex-start; font-size: 12px; ">
            <div class="row" >
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://www.angular.io">
                        Angular                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://fr.reactjs.org/">
                        React                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://reactnative.dev/">
                        React native                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://expo.io/">
                        Expo                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://nodejs.org/en/">
                        Node js                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://developer.mozilla.org/fr/docs/Web/JavaScript">
                        Javascript                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://getbootstrap.com/">
                        Bootstrap                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://www.w3.org/">
                        HTML 5                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://www.w3.org/">
                        CSS 3                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://firebase.google.com/">
                        Firebase                
                    </a>
                </div>
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank" 
                    href="https://www.php.net/">
                        PHP                
                    </a>
                </div>
                
                
                <div class="col-4">
                    <a style="text-decoration: none; color: black;"  target="_blank"
                     href="https://www.mysql.com/">
                    My Sql
                </a>
                </div>
                <div class="col-8" style="margin-top: 20px;">
                    <p>Siret: 52937185800026</p>
                </div>
                
               <!--  <div class="col-4">
                    Siret: 52937185800026
                </div> -->
            </div>
        </div>
        
      </mat-toolbar-row>

</mat-toolbar>


