//@import'/src/styles.scss';
$primary : #03a9f4;
.footerContainer{   
    margin-top: 20px;
    min-height: 100px;
}
mat-toolbar a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

