<app-main-nav>
    <div class=" welcomePic" >
    </div>
    <h1 style="text-align: center; margin-top: 25px; margin-bottom: 25px;">Welcome to Mathessprod !</h1>
    <h3 style="text-align: center ;margin-bottom: 20px;">What I can do ?</h3>   
    <!--   
    <div class="card-container">

    </div> -->
    <mat-card style="margin-bottom: 45px; border-radius: 0px; padding-bottom: 0; padding-top: 0; min-height: 250px;">
 
        <img  mat-card-image src="assets/img/black_responsive.png" alt="responsive design">
        <mat-card-title style="text-align: center;">Responsive web Apps</mat-card-title>
    </mat-card>
    <mat-card style="margin-bottom: 45px;" >
        <img  mat-card-image src="assets/img/agenda.jpg" alt="mobile Apps">
        <mat-card-title style="text-align: center;">Mobile Apps</mat-card-title>
    </mat-card>
    <mat-card style="margin-bottom: 45px;">
        <img mat-card-image src="assets/img/code.png" alt="Qr code based">
        <mat-card-title style="text-align: center;">QR code based Appps</mat-card-title>
    </mat-card>
    <mat-card style="margin-bottom: 45px;">
        <mat-grid-list cols="3" rowHeight="100px">
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                                    align-items: center;">
                            <img class="frameworkIco" src="assets/img/angular.png" alt="angular">
                            <p>Angular 11</p>
                        </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/react.png" alt="react">
        <p>React</p>
    </div>
    </mat-grid-tile>
            <mat-grid-tile><div style="display: flex; flex-direction: column; justify-content: center; 
                                    align-items: center;">
                            <img class="frameworkIco" src="assets/img/react-native.png" alt="react native">
                            <p>React native</p>
                        </div></mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/expo.png" alt="expo cli">
        <p>Expo</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/nodejs.png" alt="node js">
        <p>Node js</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/bootstrap.png" alt="Bootsap">
        <p>Bootstrap</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/html5.png" alt="HTML 5">
        <p>HTML 5</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/css3.png" alt="CSS 3">
        <p>CSS 3</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/js.png" alt="Javascript">
        <p>Javascrypt</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/firebase2.png" alt="Firebase">
        <p>Firebase</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/php.png" alt="PHP">
        <p>PHP</p>
    </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div style="display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
        <img class="frameworkIco" src="assets/img/mysql.png" alt="Mysql">
        <p>My Sql</p>
    </div>
            </mat-grid-tile>
          
          </mat-grid-list>
          <mat-card-title style="text-align: center; margin-top: 15px;">Framework & libraries used</mat-card-title>
    </mat-card>
    <mat-grid-list cols="12" >

        <div style="display: flex; align-items: center; justify-content: center; width: 100%;">

            <button routerLink="/contact" mat-raised-button color="accent">Contact me</button>
        </div>
    </mat-grid-list>
    <app-footer></app-footer>
</app-main-nav>