<app-main-nav>

  
    <div class="contactImg">
    

  </div>
  
  
  <mat-card style="display: flex; justify-content: flex-start;flex-direction: column; 
                min-height: 400px; align-items: center; margin-right: 20px;
                margin-top: 30px; margin-left: 20px; ">
    <mat-card-title>Contact us</mat-card-title>
    <mat-card-content >
     <app-captcha></app-captcha>
        
    </mat-card-content>
    
</mat-card>
  
  <!-- <app-captcha></app-captcha> -->
  <!-- <app-footer></app-footer> -->
</app-main-nav>
<!-- 
<p class="text-center">her is a captcha</p>
<button mat-raised-button color="primary">Contact us</button>
<button mat-raised-button color="accent">Contact us</button>
<button mat-raised-button color="warn">Contact us</button>
<app-captcha></app-captcha> -->

