@import '/src/palette.scss';

.primary-background{
    background-color: $primary-color;
}
.contactImg
{
    height: 150px;
    background-image: url('../../assets/img/banner-contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}