<mat-sidenav-container class="sidenav-container" color="light" >
  <mat-sidenav color="light" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
   
     <div style="height: 180px; ">
     <mat-toolbar color="primary">
       <mat-toolbar-row></mat-toolbar-row>
       <mat-toolbar-row></mat-toolbar-row>
       <mat-toolbar-row></mat-toolbar-row>
     </mat-toolbar>
     </div>

     <div>
       
    </div>

<p style="text-align: center;">Menu</p>  
  
<hr style="color: black;">
    <mat-nav-list >
      
     
    
      
      <a mat-list-item href="#"> <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home</a>
      <hr style="color: black; ">
      <a mat-list-item href="#"> <mat-icon aria-hidden="false" aria-label="Example home icon">work</mat-icon>Projects</a>
      <hr style="color: black;">
      <a mat-list-item href="/contact"> <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>Contact</a>
      <hr style="color: black;">
      

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span  >Mathessprod</span>
      <span class="spacer"></span>
      <a href="#">Home</a>
      <a href="#">Projects</a>
      <a href="/contact">Contact</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
